body {
  display: grid;
  grid-template-rows: 1fr 6fr;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Montserrat;
  color: #3B3B3B;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 0 60px;
}

.header {
  margin: 20px;
  display: flex;
  align-items: center;
}

.text-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pantone {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.box-container {
  display: flex;
  align-items: center;
}

.action-container {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.inner-container {
  display: flex;
}

.subheading {
  font-size: 1.2rem;
  padding-bottom: 7px;
}

input {
  height: 2rem;
  border: 1px solid #3B3B3B;
  padding: 0 5px;
  font-size: 1rem;
}

button {
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #3B3B3B;
  color: white;
  text-transform: uppercase;
  padding-right: 10px;
}

button:hover {
  background-color: #3B3B3B;
}

.favorites-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.view-palettes {
}

.heart {
  width: 30px;
  height: 30px;
}

.color {
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
  justify-content: center;
}

.colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.unlocked {
  background-image: url('../assets/unlock.svg');
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.locked {
  background-image: url('../assets/lock.svg');
  background-size: cover;
}

.hide {
  display: none;
}

