body {
  margin: 0;
}

.colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 500px;
}

.small-color {
  height: 15px;
  width: 100px;
  background-color: black;
  display: inline-block;
}